body{
    margin: auto;
}

.hello-box{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    width: 200px;
    margin: auto;
    padding: 5px 20px;
}

.text-box{
    margin: auto;
}

#clock{
    width: 200px;
    margin: 10px 10px;
    text-align: center;
}

#text{
    width: 200px;
    margin: 10px 10px;
    text-align: center;
}
